details summary {
    cursor: pointer;
}

details summary label {
    display: inline;
    cursor: pointer;
}

details > .grid,
details > label,
details > fieldset {
    margin-bottom: 1.5rem;
}

details > label {
    padding-left: 1rem;
}

article header h2 {
    margin-bottom: 0;
}

@media print {
    button, a[role="button"], .no-print {
        display: none !important;
    }

    article {
        break-inside: avoid;
    }
}
