body {
    background: #f0f0f0;
}

details {
    border: 1px solid var(--pico-muted-border-color);
    border-radius: 8px;
    padding: 1rem 1.5rem;
    background: white;
}

details summary {
    cursor: pointer;
}

details summary label {
    display: inline;
    cursor: pointer;
}

details > .grid,
details > label,
details > fieldset {
    margin-bottom: 1.5rem;
}

details > label {
    padding-left: 1.5rem;
    margin-top: -0.5rem;
}

article header h2 {
    margin-bottom: 0;
}

@media print {
    button, a[role="button"], .no-print {
        display: none !important;
    }

    article {
        break-inside: avoid;
    }
}
